

.container {
    max-width: 60%;
    margin: 40px auto; 
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 15px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    color: #E0F7FA;
}

h1 {
    font-size: 48px;
    margin-bottom: 30px;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] { 
    flex: 1;
    padding: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
}

input[type="text"]:focus {
    outline: none; 
    border-color: #4D99E6; 
    
  
}

button {
    padding: 10px 20px;
    background-color: #356597;
    color: #fefeff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

button:hover { 
    background-color: #1a4170; 
}

h2{
    font-size: 30px;
}

p{
    margin-bottom: 5px;
    color: #E0F7FA;
}

h1,h2{
    color: #E0F7FA;
}

.weather-info {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.3); 
}

.weather-info h2 {
    margin-bottom: 15px;
}

img {
    width: 100px;
    height: auto;
    margin-top: 10px;
}

/* Estilo para el mensaje de error */
.error-message p {
    color: #FF6347; 
    font-weight: bold;
    font-size: 1.1em;
    padding: 10px;
}

@media(max-width:900px) {
    .container {
        max-width: 80%;
    }

    h1 {
       font-size: 35px; 
    }
    h2 {
        font-size: 25px;
    }
}