.container {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
}

h1 {

    font-size: 40px;
    margin-bottom: 20px;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] { 
    flex: 1;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
}

button {
        padding: 10px 20px;
        background-color: rgb(53, 130, 153);
        color: white;
        border:none;
        border:4px;
        cursor: pointer;
        transition: 1s all ease;
}

button:hover { 
    background-color: rgb(14, 62, 77);

}

h2{
    font-size: 30px;
}

p{
    margin-bottom: 5px;
}

img {
    width: 100px;
    height: auto;
    margin-top: 10px;
}